<div [@routerTransition]>
    <app-page-header [heading]="'Juegos'" [icon]="'fa-wrench'"></app-page-header>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 1
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 2
                </div>
            </div>
        </div>

    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 3
     </div>
     </div>


    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 4
                </div>
            </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    Resident Evil 5
                </div>
            </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Resident Evil 6
                    </div>
                </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-body">
                        Resident Evil Village
                    </div>
                </div>
</div>
